<h1>Add a New Location</h1>

<%= form_with model: @location, local: true do |form| %>
  <% if @location.errors.any? && request.post? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Enter a location (e.g., city, address, or zip code):" %>
    <%= form.text_field :name, placeholder: "Enter location here" %>
  </div>

  <div class="actions">
    <%= form.submit "Get Weather" %>
  </div>
<% end %>
